=render "template/header"
=render "user_content"
.warapper__user_show__main__post
  .warapper__user_show__main__post--header
    募集投稿中のチケット一覧
  .paginate
    = paginate(@tickets)
  .warapper__user_show__main__post--ticket
    - @tickets.each do |ticket|
      .post--ticket--edit
        =link_to "編集する", edit_ticket_path(ticket.id)
        =link_to "削除する", "/tickets/#{ticket.id}", method: :delete
      .post--ticket__box
        =link_to"",ticket_path(ticket.id)
        .post--ticket__box--user-info
          %span.post--ticket__box--user-info--time-title.post--ticket__box--title
            投稿日 
          %span.post--ticket__box--user-info--time-data
            = ticket.created_at.to_s(:datetime_jp)
        .post--ticket__box--artist-info
          %span.post--ticket__box--artist-info--title.post--ticket__box--title
            開催名
          %span.post--ticket__box--artist-info--name
            = ticket.live.title
        .post--ticket__box--live-info
          .post--ticket__box--live-info-date-title
            公演日時
            %span.post--ticket__box--live-info-date-title-data
              = ticket.live.data.strftime("%Y/%m/%d")
            %span.post--ticket__box--live-info-date-title-time
              = ticket.live.time.to_s(:time_jp)
              開演
          .post--ticket__box--live-info__stage
            会場
            %span.post--ticket__box--live-info__stage__prefecture
              = ticket.live.prefecture.name  
            %span.post--ticket__box--live-info__stage__hall
              = ticket.live.hall

        