.header
  .header__logo
    Ticketrio
  %ul.header__contents
    %li.header__contents__accompany
      同伴者募集
    %li.header__contents__transfer
      チケット譲渡 募集
    %li.header__contents__chenge
      チケット交換 募集
  .header__user
    -if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
    -else 
      = link_to "新規登録", new_user_session_path, method: :delete, class: 'btn'
      = link_to "ログイン", new_user_registration_path, method: :delete, class: 'btn'
.wrapper
  .wrapper__side_bar
    .wrapper__side_bar__search
      %input.wrapper__side_bar__search--area
    .wrapper__side_bar__result
      .wrapper__side_bar__result--name
        三月のパンタシア
    .wrapper__side_bar__main
      .wrapper__side_bar__main__artist_name
        三月のパンタシア
      .wrapper__side_bar__main__live
        .wrapper__side_bar__main__live__box
          .wrapper__side_bar__main__live__box--upper
            .wrapper__side_bar__main__live__box--upper__title
              秋はやっぱり、パン祭り！！
          .wrapper__side_bar__main__live__box--middle
            .wrapper__side_bar__main__live__box--middle__date
              2020年11月3日
            .wrapper__side_bar__main__live__box--middle__time
              12:00　開演
          .wrapper__side_bar__main__live__box--lower
            .wrapper__side_bar__main__live__box--lower__prefectures
              東京都
            .wrapper__side_bar__main__live__box--lower__hall
              SHIBUYA  Oーeast
        .wrapper__side_bar__main__live__box
          .wrapper__side_bar__main__live__box--upper
            .wrapper__side_bar__main__live__box--upper__title
              秋はやっぱり、パン祭り！！
          .wrapper__side_bar__main__live__box--middle
            .wrapper__side_bar__main__live__box--middle__date
              2020年11月3日
            .wrapper__side_bar__main__live__box--middle__time
              17:00　開演
          .wrapper__side_bar__main__live__box--lower
            .wrapper__side_bar__main__live__box--lower__prefectures
              東京都
            .wrapper__side_bar__main__live__box--lower__hall
              SHIBUYA  Oーeast
        .wrapper__side_bar__main__live__box
          .wrapper__side_bar__main__live__box--upper
            .wrapper__side_bar__main__live__box--upper__title
              秋はやっぱり、パン祭り！！
          .wrapper__side_bar__main__live__box--middle
            .wrapper__side_bar__main__live__box--middle__date
              2020年11月9日
            .wrapper__side_bar__main__live__box--middle__time
              12:00　開演
          .wrapper__side_bar__main__live__box--lower
            .wrapper__side_bar__main__live__box--lower__prefecture
              広島県
            .wrapper__side_bar__main__live__box--lower__hall
              DRAM Bit
  .wrapper__main
    - @tickets.each do |ticket|
      %table.wrapper__main__box
        %tr.wrapper__main__box--user-info
          %th.wrapper__main__box--user-info--time-title
            投稿日 
          %td.wrapper__main__box--user-info--time-data
            = ticket.created_at.to_s(:datetime_jp)
          %th.wrapper__main__box--user-info--user-name-title
            投稿者 
          %td.wrapper__main__box--user-info--user-name-data
            = ticket.user.name
        %tr.wrapper__main__box--artist-info
          %th.wrapper__main__box--artist-info--title
            開催名
          %td.wrapper__main__box--artist-info--name
            = ticket.live.title
        %tr.wrapper__main__box--live-info
          %th.wrapper__main__box--live-info-date-title
            公演日時
            %td.wrapper__main__box--live-info-date-title-data
              = ticket.live.data.strftime("%Y/%m/%d")
            %td.wrapper__main__box--live-info-date-title-time
              = ticket.live.time.to_s(:time_jp)
          %th.wrapper__main__box--live-info__stage
            会場
            %td.wrapper__main__box--live-info__stage__prefecture
              = ticket.live.prefecture.name  
            %td.wrapper__main__box--live-info__stage__hall
              = ticket.live.hall
        %tr.wrapper__main__box--seat
          %th.wrapper__main__box--seat-area
            座席
            %td.wrapper__main__box--seat-area-data
              = ticket.seat
          %th.wrapper__main__box--seat-num
            枚数
            %td.wrapper__main__box--seat-num-data
              = ticket.piece
              枚
          %th.wrapper__main__box--seat-price
            チケット価格（手数料込）
            %td.wrapper__main__box--seat-price-data
              = ticket.price
              円
        %td.wrapper__main__box--comment
          = ticket.text





  


