=render "template/header"
.wrapper
  =render "template/sidebar"


  
  .wrapper__main
    .live
      .live_info
        .live_info__artist
          = @artist.artist_name
        .live_info__title
          = @live.title
          = @live.data.strftime("%Y/%m/%d")
          = @live.time.to_s(:time_jp)
          開演
        .live_info__title
          = @live.prefecture.name
          = @live.hall

      = link_to "チケットの新規募集投稿",new_ticket_path(artist_id: params[:artist_id] ,live_id: params[:live_id]),class:"new_ticket_btn"

    - @tickets.each do |ticket|
      .wrapper__main__box
        = link_to "", ticket_path(ticket.id)
        .wrapper__main__box--user-info
          %span.wrapper__main__box--user-info--time-title
            投稿日 
          %span.wrapper__main__box--user-info--time-data
            = ticket.created_at.to_s(:datetime_jp)
          %span.wrapper__main__box--user-info--user-name-title
            投稿者 
          %span.wrapper__main__box--user-info--user-name-data
            = ticket.user.name
          -# - if user_signed_in? && ticket.user.id == current_user.id 
          -#   =link_to "編集",""
          -#   =link_to "削除",""

        .wrapper__main__box--seat
          %span.wrapper__main__box--seat-area
            座席
          %span.wrapper__main__box--seat-area-data
            = ticket.seat
          %span.wrapper__main__box--seat-num
            枚数
          %span.wrapper__main__box--seat-num-data
            = ticket.piece
            枚
          %span.wrapper__main__box--seat-price
            チケット価格
          %span.wrapper__main__box--seat-price-data
            = ticket.price
            円/枚




