=render "template/header"
.wrapper
  =render "template/sidebar"
  .wrapper__main
    = link_to "チケットの新規募集投稿",new_ticket_path(artist_id: params[:artist_id] ,live_id: params[:live_id]),class:"new_ticket_btn"
    
    - @tickets.each do |ticket|
      .wrapper__main__box
        = link_to "", ticket_path(ticket.id)
        .wrapper__main__box--user-info
          %span.wrapper__main__box--user-info--time-title
            投稿日 
          %span.wrapper__main__box--user-info--time-data
            = ticket.created_at.to_s(:datetime_jp)
          %span.wrapper__main__box--user-info--user-name-title
            投稿者 
          %span.wrapper__main__box--user-info--user-name-data
            = ticket.user.name
        .wrapper__main__box--artist-info
          %span.wrapper__main__box--artist-info--title
            公演名
          %span.wrapper__main__box--artist-info--name
            = ticket.live.title
        .wrapper__main__box--live-info
          %span.wrapper__main__box--live-info-title
            公演日時
          %span.wrapper__main__box--live-info-date-title-data
            = ticket.live.data.strftime("%Y/%m/%d")
          %span.wrapper__main__box--live-info-date-title-time
            = ticket.live.time.to_s(:time_jp)
          %span.wrapper__main__box--live-info__stage
            会場
          %span.wrapper__main__box--live-info__stage__prefecture
            = ticket.live.prefecture.name  
          %span.wrapper__main__box--live-info__stage__hall
            = ticket.live.hall
        .wrapper__main__box--seat
          %span.wrapper__main__box--seat-area
            座席
          %span.wrapper__main__box--seat-area-data
            = ticket.seat
          %span.wrapper__main__box--seat-num
            枚数
          %span.wrapper__main__box--seat-num-data
            = ticket.piece
            枚
          %span.wrapper__main__box--seat-price
            チケット価格
          %span.wrapper__main__box--seat-price-data
            = ticket.price
            円/枚
        .wrapper__main__box--comment
          = ticket.text



