=render "template/header"

.wrapper__show
  .wrapper__show__box
    .wrapper__show__box--user-info
      .user-box
        %span.wrapper__show__box--user-info--time-title
          投稿日 
        %span.wrapper__show__box--user-info--time-data
          = @ticket.created_at.to_s(:datetime_jp)
        %span.wrapper__show__box--user-info--user-name-title
          投稿者 
        %span.wrapper__show__box--user-info--user-name-data
        = @ticket.user.name
      - if user_signed_in? && @ticket.user.id == current_user.id 
        .user-info-crrent
          =link_to "編集", edit_ticket_path(@ticket.id)
          =link_to "削除", "/tickets/#{@ticket.id}", method: :delete
    .wrapper__show__box--artist-info
      %span.wrapper__show__box--artist-info--title
        公演名
      %span.wrapper__show__box--artist-info--name
        = @ticket.live.title
    .wrapper__show__box--live-info
      %span.wrapper__show__box--live-info--title
        公演日時
      %span.wrapper__show__box--live-info-date-title-data
        = @ticket.live.data.strftime("%Y/%m/%d")
      %span.wrapper__show__box--live-info-date-title-time
        = @ticket.live.time.to_s(:time_jp)
      %span.wrapper__show__box--live-info__stage
        会場
      %span.wrapper__show__box--live-info__stage__prefecture
        = @ticket.live.prefecture.name  
      %span.wrapper__show__box--live-info__stage__hall
        = @ticket.live.hall
    .wrapper__show__box--seat
      %span.wrapper__show__box--seat-area
        座席
      %span.wrapper__show__box--seat-area-data
        = @ticket.seat
      %span.wrapper__show__box--seat-num
        枚数
      %span.wrapper__show__box--seat-num-data
        = @ticket.piece
        枚
      %span.wrapper__show__box--seat-price
        チケット価格
      %span.wrapper__show__box--seat-price-data
        = @ticket.price
        円/枚
    .wrapper__show__box--comment
      = @ticket.text

  .wrapper__show__comments
    .wrapper__show__comments__area
      %p.wrapper__show__comments__area--head 
        コメント一覧
      -if @comments
        - @comments.each do |comment|
          .wrapper__show__comments__area--box
            %span.wrapper__show__comments__area--box__name
              %label 投稿者:
              = comment.user.name
            %span.wrapper__show__comments__area--box__time
              %label 投稿日時:
              = comment.created_at.to_s(:datetime_jp)
            -if user_signed_in? && comment.user.id == current_user.id
              %span.wrapper__show__comments__area--box__btn
                %span.wrapper__show__comments__area--box__btn--edit
                  =link_to "編集","/tickets/#{@ticket.id}/comments/#{comment.id}/edit"
                %span.wrapper__show__comments__area--box__btn--delete
                  =link_to "削除","#"
            %p.wrapper__show__comments__area--box__text
              = comment.text

      -if user_signed_in?
        = form_with(model: [@ticket, @commnet], local: true) do |form|
          = form.text_area :text, placeholder:"コメントの入力",class:"comment_form"
          = form.hidden_field :ticket_id, value: @ticket.id
          = form.submit "コメント投稿", class:"comment_form-btn"
      -else
        .comment_form_none  
          %p.comment_form_none-announce
            コメント機能はログイン後使用することができます。


        
      

      


